-- Milestone 4: publication_targets execution states + intent terminal statuses
-- Safe to run on existing DBs (idempotent column adds).

ALTER TABLE publication_targets
  ADD COLUMN IF NOT EXISTS external_post_id TEXT,
  ADD COLUMN IF NOT EXISTS external_post_url TEXT,
  ADD COLUMN IF NOT EXISTS last_error TEXT,
  ADD COLUMN IF NOT EXISTS published_at TIMESTAMPTZ;

ALTER TABLE publication_targets DROP CONSTRAINT IF EXISTS publication_targets_status_check;
ALTER TABLE publication_targets ADD CONSTRAINT publication_targets_status_check
  CHECK (status IN ('pending', 'publishing', 'published', 'failed'));

ALTER TABLE publication_intents DROP CONSTRAINT IF EXISTS publication_intents_status_check;
ALTER TABLE publication_intents ADD CONSTRAINT publication_intents_status_check
  CHECK (status IN ('draft', 'ready', 'queued', 'published', 'partial_failed', 'failed'));
