CREATE TABLE IF NOT EXISTS publish_outbox (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    intent_id UUID NOT NULL REFERENCES publication_intents(id) ON DELETE CASCADE,
    target_id UUID NOT NULL REFERENCES publication_targets(id) ON DELETE CASCADE,
    payload_json TEXT NOT NULL,
    status VARCHAR(20) NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'sent')),
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE (intent_id, target_id)
);

CREATE INDEX IF NOT EXISTS idx_publish_outbox_status_created ON publish_outbox (status, created_at);

CREATE TRIGGER trigger_publish_outbox_updated_at
    BEFORE UPDATE ON publish_outbox
    FOR EACH ROW EXECUTE FUNCTION update_updated_at();
