ALTER TABLE accounts
  ADD COLUMN IF NOT EXISTS ig_access_token TEXT,
  ADD COLUMN IF NOT EXISTS ig_token_expires_at TIMESTAMPTZ,
  ADD COLUMN IF NOT EXISTS ig_user_id TEXT;

-- Manual seed for an existing account.
-- Replace the WHERE clause and token value with your real target account.
-- Example by id:
-- UPDATE accounts
-- SET
--   ig_access_token = 'YOUR_LONG_LIVED_TOKEN',
--   ig_token_expires_at = NOW() + INTERVAL '60 days',
--   ig_user_id = '26589280544071242',
--   updated_at = NOW()
-- WHERE id = 'YOUR_ACCOUNT_UUID';

-- Example by username:
-- UPDATE accounts
-- SET
--   ig_access_token = 'YOUR_LONG_LIVED_TOKEN',
--   ig_token_expires_at = NOW() + INTERVAL '60 days',
--   ig_user_id = '26589280544071242',
--   updated_at = NOW()
-- WHERE username = 'YOUR_ACCOUNT_USERNAME';
