-- Bootstrap missing publication pipeline tables on legacy DBs.
-- Safe for existing environments: all CREATE statements are IF NOT EXISTS.

CREATE TABLE IF NOT EXISTS generated_assets (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    generation_job_id UUID REFERENCES generation_jobs(id) ON DELETE CASCADE,
    asset_type VARCHAR(20) NOT NULL CHECK (asset_type IN ('image', 'video', 'thumbnail')),
    storage_provider VARCHAR(20) NOT NULL,
    object_key TEXT NOT NULL,
    public_url TEXT NOT NULL,
    mime_type VARCHAR(120) NOT NULL,
    size_bytes BIGINT NOT NULL DEFAULT 0,
    duration_seconds INTEGER,
    width INTEGER,
    height INTEGER,
    checksum_sha256 TEXT NOT NULL,
    status VARCHAR(20) NOT NULL DEFAULT 'ready' CHECK (status IN ('ready')),
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_generated_assets_job_id ON generated_assets(generation_job_id);
CREATE INDEX IF NOT EXISTS idx_generated_assets_status ON generated_assets(status);

CREATE TABLE IF NOT EXISTS publication_intents (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    generation_job_id UUID REFERENCES generation_jobs(id) ON DELETE CASCADE,
    primary_asset_id UUID REFERENCES generated_assets(id) ON DELETE RESTRICT,
    content_type VARCHAR(20) NOT NULL CHECK (content_type IN ('reel', 'post', 'story')),
    caption TEXT,
    hashtags JSONB DEFAULT '[]',
    mode VARCHAR(20) NOT NULL CHECK (mode IN ('publish_now', 'save_for_later', 'scheduled')),
    scheduled_for TIMESTAMPTZ,
    status VARCHAR(20) NOT NULL CHECK (status IN ('draft', 'ready', 'queued', 'published', 'partial_failed', 'failed')),
    platform_post_id TEXT,
    published_at TIMESTAMPTZ,
    error_message TEXT,
    idempotency_key TEXT NOT NULL UNIQUE,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_publication_intents_job_id ON publication_intents(generation_job_id);
CREATE INDEX IF NOT EXISTS idx_publication_intents_status ON publication_intents(status);

CREATE TABLE IF NOT EXISTS publication_targets (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    publication_intent_id UUID REFERENCES publication_intents(id) ON DELETE CASCADE,
    account_id UUID REFERENCES accounts(id) ON DELETE RESTRICT,
    platform VARCHAR(30) NOT NULL,
    status VARCHAR(20) NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'publishing', 'published', 'failed')),
    external_post_id TEXT,
    external_post_url TEXT,
    last_error TEXT,
    published_at TIMESTAMPTZ,
    retry_count INTEGER NOT NULL DEFAULT 0,
    max_retries INTEGER NOT NULL DEFAULT 3,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(publication_intent_id, account_id)
);
