ALTER TABLE publication_targets
  DROP CONSTRAINT IF EXISTS publication_targets_status_check;

ALTER TABLE publication_targets
  ADD CONSTRAINT publication_targets_status_check
  CHECK (status IN ('pending', 'publishing', 'published', 'failed', 'uncertain'));
