-- Link publications rows to publication_targets (Generation Studio / Graph publish path)
ALTER TABLE publications ADD COLUMN IF NOT EXISTS publication_target_id UUID REFERENCES publication_targets(id) ON DELETE SET NULL;

-- At most one monitoring row per intent target (NULL allowed for legacy rows)
CREATE UNIQUE INDEX IF NOT EXISTS uq_publications_publication_target_id
  ON publications (publication_target_id)
  WHERE publication_target_id IS NOT NULL;
